footer{
    position: sticky;
}
.container-fluid{
    padding-left: 0px;
    padding-right:0px;
}
.individual-project{
    margin: 30px 30px 30px 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
}
.navbar-brand{
    padding-left: 10px;
}
.content{
    margin-left: 20px;
}
